<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <script src = "/js/jquery.js" type = "text/javascript" > </script>
  <script src = "/js/more-show-hide.js" type = "text/javascript"> </script>
</head>
<body>

<h2 style="color:#FFFFFF;text-align: center;" font face="Lato">BASES DE DATOS </h2>

<div class="demo-show">
  <h3>LAHMAN</h3>
  <div>
     <ul style="color:#FFFFFF">
      <li>AllstarFull</li>
      <li>Appearances</li>
      <li>AwardsManagers</li>
      <li>AwardsPlayers</li>
      <li>AwardsShareManagers</li>
      <li>AwardsSharePlayers</li>
      <li>Batting</li>
      <li>AwardsManagers</li>
      <li>BattingPost</li>
      <li>Fielding</li>
      <li>FieldingOF</li>
      <li>FieldingPost</li>
      <li>HallOfFame</li>
      <li>Managers</li>
      <li>ManagersHalf</li>
      <li>Master</li>
      <li>Pitching</li>
      <li>PitchingPost</li>
      <li>Salaries</li>
      <li>Schools</li>
      <li>SchoolsPlayers</li>
      <li>SeriesPost</li>
      <li>Teams</li>
      <li>TeamsFranchises</li>
      <li>TeamsHalf</li>
    </ul>
  </div>
  <h3>POKEMON</h3>
  <div>
      <ul style="color:#FFFFFF">
      <li>Pokemon</li>
      <li>Mega_pokemon</li>
      <li>Habilidades </li>
    </ul>
  </div>
  <h3>WORLD</h3>
  <div>
    <ul style="color:#FFFFFF">
      <li>City</li>
      <li>Country</li>
      <li>Contrylenguage</li>
    </ul>
  </div>
</div>

</body>
</html>