<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  
</head>
<body>
<h1>
  <%=t(title_token)-%>
</h1>
  <p>
  <h2>Consulta SQL:</h2>
  <textarea name="consulta" rows="30" cols="50">Escribe aqui tu consulta</textarea>
  <INPUT type="hidden" name="identificador" value="Z87X09RF"><BR>
  <h3>Edite la declaración SQL y haga clic en "Ejecutar SQL" para ver el resultado.</h3>
  <INPUT type="submit" value="Ejecutar SQL">   <INPUT type="reset" value="Borrar">
  <h2>Resultado:</h2>
  <textarea name="resultado" rows="30" cols="50">
  Haga clic en "Ejecutar SQL" para ejecutar la consulta SQL anterior.
         
  FuzzydoDB ha creado una base de datos SQL en su navegador.
  El menú a la izquierda muestra las bases de datos disponibles.
  Siéntase libre de experimentar con cualquier consulta SQL.
 </textarea>

  </p>

</body>
</html>