<% title(t @title) %>

<div class="content-wrapper">
   <div class="content-left">
       <%= render :partial => "online_test_db",
        locals: { active_item: @active_item} %>
  </div>

  <div class="content-right">
    <%= render :partial => "online_test_content",
        locals: { title_token: @title, content_token: @content} %>
  </div>
</div>