$brand-primary: #097778;
$text-color: #575d6b;
$secondary-text-color: lighten($text-color, 30%);
$base-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
$base-font-size: 15px;
$base-line-height: 1.5;
$grid-container-max-width: 43.125rem;

$widget-green: #097778;
$btn-active: darken($widget-green, 10);
$btn-hover: lighten($widget-green, 9);
$side-bar-width: 185px;

// Buttons
$thredded-button-background: #097778 !default;
$thredded-button-hover-background: $btn-hover !default;