@import "foroFuzzydoDB-thredded";
@import "flash-messages";

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 //= require w3
 //= require datatables
 //= require ng-img-crop
 //= require bootstrap-select/bootstrap-select
 

@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'variables';
@import 'footer';
@import 'header';
@import 'w3';
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,300);

$gray:  #808080;

html {
  min-width: 1020px;
}

body {
  padding-right: 0 !important;
  font-family: 'Lato';
  font-size: 15px;
}

// Make buttons and input forms smaller
.btn,
.form-control {
  height: 30px;
  padding: 5px 11px;
  font-size: 13px;
  transition: background-color .3s, box-shadow .3s, border-color .3s;
}

.form-control[readonly] {
  cursor: not-allowed;
}

.btn-default.disabled,
.btn-default.disabled:hover,
.btn-default.disabled:focus,
.btn-default.disabled:focus:hover{
  background-color: $widget-green;
  color: White;
  border-color: $widget-green;
  box-shadow: none;
}

.btn-default {
  margin-left: 7px;
  background-color: $widget-green;
  color: White;
  border-color: $widget-green;
}

.btn-default:hover {
  background-color: $btn-hover;
  color: White;
  border-color: $btn-hover;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 4px $btn-hover;
}

.btn-danger:hover {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 4px rgba(201, 48, 44, 0.6);
}

.btn-default:focus,
.btn-default:active,
.btn-default:active:hover,
.btn-default:active:focus,
.open > .btn-default.dropdown-toggle,
.open > .btn-default.dropdown-toggle:hover,
.open > .btn-default.dropdown-toggle:focus {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.125) inset;
  color: White;
  background-color: $btn-active;
  border-color: $btn-active;
  outline: none;
}

.btn-non-primary {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}

.btn-default[disabled]:hover {
  background-color: $btn-hover;
}

table .bootstrap-select {
    width: auto !important;
}

.content {
  position: static;
  margin-top: 100px;
}

.fuzzydo-menu-page-bg {
  background-color: $widget-green;
  height: 320px;
}

h1 {
  color: $widget-green;
  font-family: 'Lato';
  border-bottom: 2px solid $gray;
  font-weight: 700;
  padding-bottom: 6px;
  margin-bottom: 12px;
}

h2 {
  color: $widget-green;
  font-family: 'Lato';
  font-weight: 700;
  padding-bottom: 6px;
  margin-bottom: 12px;
}

.text-content {
  font-size: 1.2em;
  text-align: justify;
  line-height: 1.5;

  p {
    margin-bottom: 1.5em;
  }
}

.font-bold {
  font-weight: bold;
}

.crunchify-top:hover {
  color: White;
  background-color: $widget-green;
  text-decoration: none;
}

.crunchify-top {
  display: none;
  position: fixed;
  bottom: 70px;
  right: 10px;
  width: 3.4rem;
  height: 3.4rem;
  line-height: 3.95rem;
  font-size: 3.2rem;
  color: White;
  background-color: rgba(0, 0, 0, .3);
  text-decoration: none;
  border-radius: 3.2rem;
  text-align: center;
  cursor: pointer;
  transition: background-color .3s;
}

.crunchify-top:focus {
  outline: none;
  color: White;
}

.glyphicon-log-in,
.glyphicon-log-out,
.glyphicon-user {
  margin-right: 7px;
}

// Override bootstrap pagination color
.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus,
.pagination > .active > span,
.pagination > .active > span:hover,
.pagination > .active > span:focus {
  background-color: $widget-green;
  border-color: $widget-green;
}

.pagination > li > a,
.pagination > li > span {
  color: $widget-green;
}

.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  cursor: inherit;
}

// Modal window medium
.modal-md {
  width: 470px;
}

.modal-footer {
  padding-right: 0;
}

.text-center {
  text-align: center;
}

// Override bootstrap label
label {
  margin-bottom: 0;
}

.w3-input {
  padding: 4px 8px 6px 8px !important;
  margin-bottom: 20px;
}

.text-right {
  text-align: right;
}

.field {
  position: relative;

  .icon {
    position: absolute;
    right: 10px;
    top: 30px;
  }

  .error-messages {
    position: absolute;
    right: 10px;
  }

  .icon.sucess {
    color: #3c763d;
  }
}

.error {
  color: #a94442;
}

.login-error-message {
  padding-right: 15px;
}

.icon-spin {

  display: inline-block;
  animation: spin 2s infinite linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

// bootstrap-select

.table .w3-hover-teal:hover .bootstrap-select a:focus {
    color: Black;
}

.w3-hover-teal:hover .btn {
  border-color: White !important;
}

div.disabled {
  cursor: not-allowed;
}

a.disabled {
  pointer-events: none;
  color: gray;
}

// Removes ugly Chrome autocomplete background
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

/***************************************/
.app {
  @include thredded--clearfix;
  -webkit-font-smoothing: antialiased;
  color: $text-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  margin: 0;
}

.app-container {
  margin: 0 auto;
  /*max-width: ($grid-container-max-width + 4rem);*/
  padding: 0 1.2rem 0.75rem 1.2rem;
  @include thredded-media-tablet-and-up {
    padding: 0 2rem 0.75rem 2rem;
  }
  @media (min-width: $grid-container-max-width + 0.01rem) {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
  }
}

.app-header {
  border-bottom: 1px solid #eee;
  a {
    display: inline-block;
    padding: 1rem 0;
  }
}

.app-nav-logo {
  color: $text-color;
  text-decoration: none;
  font-weight: bold;
}

.app-nav-auth {
  float: right;

  @include thredded-media-mobile {
    font-size: 0;

    a {
      margin-left: 0.4rem;
      font-size: 1rem;
    }
  }
}

.turbolinks-progress-bar {
  background-color: $brand-primary;
  height: 0.25rem;
}

.form-inputs .input, .form-actions {
  margin: 1rem 0;
}

.form-inputs {
  .hint {
    color: $secondary-text-color;
  }
  .error {
    @extend %thredded--alert;
    @extend %thredded--alert--danger;
    display: block;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

a {
  @extend %thredded--link;
}

button, input[type="submit"] {
  @extend %thredded--button;
}

form {
  @extend %thredded--form;
}

blockquote {
  @extend %thredded--blockquote;
}

table {
  @extend %thredded--table;
}

hr {
  @extend %thredded--hr;
}

span {
  font-size:15px;
}

input {
  font-size:15px;
}


/* line 1, ../../../../.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/thredded-0.9.4/app/assets/stylesheets/thredded/base/_buttons.scss */
.thredded--button, .thredded--form--submit, button, input[type="submit"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-font-smoothing: antialiased;
  background: #097778;
  border-radius: 3px;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

@media (max-width: 620px) {
  .app-nav-theme, .app-nav-locale {
    margin: 0 0 0 0.3125rem;
    > .app-nav-text, .app-current {
      display: none;
    }
  }
  .app-nav-theme {
    .app-nav-text {
      display: none;
    }
    button {
      vertical-align: middle;
    }
    .app-nav-icon {
      display: block;
      svg {
        fill: currentColor;
        height: 1.5rem;
        width: 1.5rem;
      }
    }
  }
}

.thredded--navigation {
  position: relative;
  .thredded--icon {
    display: none;
  }
}

@include thredded-media-tablet-and-down {
  $icon-nav-item-width: 2.625rem;
  .thredded--navigation {
    position: relative;
    width: 100%;
  }
  .thredded--main-navigation {
    position: relative;
    border: none;
  }
  .thredded--navigation-breadcrumbs {
    font-size: $thredded-font-size-small;
    padding-right: $icon-nav-item-width * 2;
    .thredded--is-moderator & {
      padding-right: $icon-nav-item-width * 3;
    }
  }
  .thredded--navigation--search-topics {
    display: none;
    .thredded--messageboards-index &,
    .thredded--topics-index &,
    .thredded--topic-search-results & {
      @media screen {
        display: block;
      }
    }
  }
  .thredded--user-navigation {
    border-bottom: none;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    &-standalone {
      display: block;
      margin-bottom: 0;
    }
    %icon-nav-item {
      box-sizing: border-box;
      display: inline-block;
      margin: 0 0 0 ($thredded-small-spacing/2);
      padding: 0;
      vertical-align: top;
      a {
        position: relative;
        display: block;
        padding: 0.4375rem 0 0.375rem 0;
      }
      .thredded--icon {
        display: block;
        width: 2rem;
        height: 2rem;
      }
    }
    %icon-counter {
      bottom: 0.3125rem;
      position: absolute;
      right: -0.1875rem;
    }
    .thredded--nav-text {
      display: none;
    }
    &--settings {
      @extend %icon-nav-item;
    }
    &--private-topics {
      @extend %icon-nav-item;
      margin-top: 1px;
      &--unread {
        @extend %icon-counter;
      }
    }
    &--moderation {
      @extend %icon-nav-item;
      &--pending-count {
        @extend %icon-counter
      }
    }
  }
}
