<!DOCTYPE html>
<html>
  <head>
    <!--<title><%= page_title %></title>-->
    <%= favicon_link_tag 'favicon.ico' %>
    <%= favicon_link_tag 'apple-touch-icon.png',
                         rel: 'apple-touch-icon', type: 'image/png' %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application',
                                async: !Rails.application.config.assets.debug,
                                defer: true,
                                'data-turbolinks-track': 'reload' %>

      <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
</head>

  <body class="app">
  <%= render 'shared/header' %>
<% is_thredded = content_for?(:thredded_page_id) %>
<%= content_tag :div,
                class: 'app-container',
                id: ('app-page-container' unless is_thredded) do %>
  
  <%= render 'shared/flash_messages' unless is_thredded %>
  
  <!-- Aqui esta el cuerpo de la pagina -->
  <div class="container"><%= yield %></div>
  <!-- Aqui va el footer -->
  <%= render 'shared/footer' %>

  <%# If the app JS is loaded via an [async] script, the JS may
  run before or after DOMContentLoaded. Expose a flag, so it can
  initialize correctly. %>
  <script data-turbolinks-eval="false">
    document.addEventListener('DOMContentLoaded', function() {
      (window.App = window.App || {}).DOMContentLoadedFired = true;
    });
  </script>
<% end %>
</body>

</html>
