<header class="header-fixed w3-card-2">
  <div class="header-x-scroll">
    <div class="container-fluid header-container">

      <div class="row">
        <div class="col-xs-2 logo">
          <%= link_to image_tag("fuzzydodb.png", width: "190px", height: "50px"), controller: "/home" %>
        </div>
        <div class="col-xs-10 header-right-container">
          <div class="top-options-container">
            <% if !current_user %>
              <button id="register-btn" type="button" class="btn btn-default" data-toggle="modal" data-target="#modalRegister"> <%=t('header.register')%> </button>
              <button id="login-btn" type="button" class="btn btn-default" data-toggle="modal" data-target="#modalLogin"><span class="glyphicon glyphicon-log-in"></span> <%= t('header.login') %></button>
            <% else %>
              <div class="header-user-info">
                <%= link_to raw("<span class=\"glyphicon glyphicon-user\"></span> <strong>#{current_user.display_name}</strong>"), user_path(current_user) %>

              </div>
              <%= link_to raw("<span class=\"glyphicon glyphicon-log-out\"></span> #{t('header.logout')}"), destroy_user_session_path, id: "logout-btn",class: "btn btn-default", :method => :delete %>
            <% end %>
            <div class="input-group">
              <input type="text" name="search" class="form-control" placeholder="<%=t 'header.search' %>">
              <span class="input-group-btn">
                <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-search"/></button>
              </span>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="header-menu">
      <ul class="main-menu-bar w3-light-grey">
      <% menu_tags = [t("header.menu.home"),
        t("header.menu.team"),
        t("header.menu.download"),
        t("header.menu.api"),
        t("header.menu.doc"),
        t("header.menu.onlineTests"),
        t("header.menu.performance"),
        t("header.menu.community"),
        t("header.menu.foro")]
      -%>

      <%# TODO: controller names missing !!!!!!! %>
      <% menu_controllers = ["home","about","home","home","articles","onlinetest","home","home","foro"] -%>

      <% menu_tags.each_with_index do |tag, i| -%>
        <li class="w3-hover-teal" >
          <%= link_to(tag, controller: "/"+menu_controllers[i]) %>
        </li>
      <% end -%>
        <!-- Cable 
        <li class="w3-hover-teal">
          <a href="http://127.0.0.1:3000">FORO</a>
        </li>-->

        <li class="w3-hover-teal w3-right w3-dropdown-hover">
          <a>
            <span class="glyphicon glyphicon-globe language-icon"></span>
            <%= t("header.menu.language") %>
          </a>

          <div class="w3-dropdown-content w3-light-grey w3-card-4">
            <%= link_to("English", url_for(:locale => "en"), {:class => "w3-hover-teal"}) %>
            <%= link_to("Español", url_for(:locale => "es"), {:class => "w3-hover-teal"}) %>
          </div>
        </li>
      </ul>
    <div>
</header>
