<!DOCTYPE html>
<html ng-app="fuzzydodb">
<head>
  <%# title function is deffined in app helper %>
  <title>FuzzydoDB - <%= yield(:title) %></title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render :partial => "shared/header" %>

  <div class="content page-wrap">
    <%= yield %>
  </div>


  <%= render :partial => "shared/footer", locals: { home: @isHome }%>
  <a href="#" class="crunchify-top"><span class="glyphicon glyphicon-upload"></a>

  <%# Render the modals used to login/register the user if he's not logged in%>
  <% if current_user.nil? %>
    <% @modalWindowIds = ['login', 'register', 'lost_password']  %>
    <%= render :partial => "shared/modal_session", :locals => { :modalWindowIds => @modalWindowIds } %>
  <% end %>

</body>
</html>
<script type="text/javascript">
  I18n.defaultLocale = "<%= I18n.default_locale %>";
  I18n.locale = "<%= I18n.locale %>";
</script>

