<header class="header-fixed w3-card-2">
  <div class="header-x-scroll">
    <div class="container-fluid header-container">

      <div class="row">
        <div class="col-xs-2 logo">
          <%= link_to image_tag("fuzzydodb.png", width: "190px", height: "50px")%>
        </div>
        <div class="col-xs-10 header-right-container">
          <div class="top-options-container">
            <% if !current_user %>
              <button id="register-btn" type="button" class="btn btn-default" data-toggle="modal" data-target="#modalRegister"> <%= link_to t("nav.sign_up"), new_registration_path(:user) %> </button>
              <button id="login-btn" type="button" class="btn btn-default" data-toggle="modal" data-target="#modalLogin"><span class="glyphicon glyphicon-log-in"></span> <%= link_to t('nav.sign_in'), main_app.new_user_session_path %></button>
            <% else %>
              <div class="header-user-info">
                <%= link_to raw("<span class=\"glyphicon glyphicon-user\"></span> <strong>#{current_user.display_name}</strong>"), user_path(current_user) %>

              </div>
              <%= link_to raw("<span class=\"glyphicon glyphicon-log-out\"></span> #{t('nav.sign_out')}"), main_app.destroy_user_session_path, id: "logout-btn",class: "btn btn-default", :method => :delete %>
            <% end %> 
            <div class="input-group">
              <input type="text" name="search" class="form-control" placeholder="<%=t 'header.search' %>">
              <span class="input-group-btn">
                <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-search"/></button>
              </span>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="header-menu">
      <ul class="main-menu-bar w3-light-grey">


        <li class="w3-hover-teal">
          <a href="/"><%= t "header.menu.home"-%></a>
        </li>
        <li class="w3-hover-teal">
          <a href="/"><%= t "header.menu.team"-%></a>
        </li>
        <li class="w3-hover-teal">
          <a href="/"><%= t "header.menu.download"-%></a>
        </li>
        <li class="w3-hover-teal">
          <a href="/"><%= t "header.menu.api"-%></a>
        </li>
        <li class="w3-hover-teal">
          <a href="/"><%= t "header.menu.doc"-%></a>
        </li>
        <li class="w3-hover-teal">
          <a href="/"><%= t "header.menu.onlineTests"-%></a>
        </li>
        <li class="w3-hover-teal">
          <a href="/"><%= t "header.menu.performance"-%></a>
        </li>
        <li class="w3-hover-teal">
          <a href="/"><%= t "header.menu.community"-%></a>
        </li>
        <li class="w3-hover-teal">
          <a href="/forum"><%= t "header.menu.foro"-%></a>
        </li>

        <li class="w3-hover-teal w3-right w3-dropdown-hover">
          <a>
            <span class="glyphicon glyphicon-globe language-icon"></span>
          </a>
        </li>

        <div class="app-nav-locale">
          <% I18n.available_locales.each do |locale| %>
              <%= content_tag :li, class: ('w3-hover-teal w3-right w3-dropdown-hover'), 'data-locale' => locale do -%>
                  <% if locale.to_s == I18n.locale.to_s -%>
                    <a class="w3-hover-teal"><%= t locale %></a>
                  <% else -%>
                    <a class="w3-hover-teal"><%= t locale %></a>
                  <% end -%>
              <% end -%>
          <% end %>
        </div>

        <!--<li class="w3-hover-teal w3-right w3-dropdown-hover">
          <a>
            <span class="glyphicon glyphicon-globe language-icon"></span>
            IDIOMA
          </a>

          <div class="w3-dropdown-content w3-light-grey w3-card-4">
            <a class="w3-hover-teal" href="/en">English</a>
            <a class="w3-hover-teal" href="/es">Español</a>
          </div>
        </li>-->
      </ul>
    <div>
</header>

<br><br><br><br><br>