<% title(t 'articles.edit.article') %>

<div class="content-wrapper">

<div class="view-standard">

<h1><%=t 'articles.edit.article' %></h1>
 
<%= form_for :article, :url => { :action => :update, :id => @article.id },
:method => :put do |f| %>
  <% if @article.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@article.errors.count, "error") %> 
      <%=t 'articles.errors.msj1'%></h2>
    <ul>
    <% @article.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <p>
    <%= f.label :Título %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :Resumen %><br>
    <%= f.text_area :text %>
  </p>

  <p>
    <%= f.file_field :cover %>
  <p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
 
<%= link_to 'Regresar', articles_path %>

</div>

</div>
