<% title(t 'articles.list') %>

<div class="content-wrapper">
   	<div class="content-left" style="color:white;">
   
	<% @sidebar_bar_items = ["article"] %> 
	<% @token_sidebar_namespace = "articles.new." %>
	<% @links = [ url_for(controller: controller_name, action: "new")] %>

	<%= render :partial => "shared/sidebar",
    	locals: { sidebar_bar_items: @sidebar_bar_items,
              active_item: @active_item,
              token_sidebar_namespace: @token_sidebar_namespace,
              links: @links } %>
 	</div>


  <div class="content-right">
   <h1><%=t 'articles.list' %></h1>

	<table>
	  <tr>
	    <th><h7><%=t 'articles.new.title' %></h7></th>
	    <th><h7><%=t 'articles.new.text' %></h7></th>
	  </tr>

	  <% @articles.each do |article| %>
	    <tr>
	      <td><%= article.title %></td>
	      <td><%= article.text %></td>
	      <td><%= link_to 'Mostrar', :action => :show, :id => article.id %></td>
   		  <td><%= link_to 'Editar', :action => :edit, :id => article.id %></td>
   		  <td><%= link_to 'Eliminar', { :action => :delete, :id => article.id }, :method => :delete, :data => { :confirm => '¿Esta seguro?'} %></td> 
	    </tr>
	  <% end %>
	</table>
			
	<h2>    </h2>
    <h2>    </h2>
	<h2>    </h2>
    <h2>    </h2>
		
  </div>
</div>


