<% title(t 'articles.new.article') %>

<div class="content-wrapper">

<div class="view-standard">

<h1> <%=t 'articles.new.article' %> </h1>

  <% if @article.errors.any? %>
    <div id="errorExplanation">
      <h2>
        <%= pluralize(@article.errors.count, "error") %> 
        <%=t 'articles.errors.msj1'%>
      </h2>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<%= form_for :article, :url => {:action => :create } do |f| %>
  <p>
    <%= f.label :Titulo %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :Resumen %><br>
    <%= f.text_area :text %>
  </p>

  <p>
  	<%= f.file_field :cover %>
  <p>	

  <p>
    <%= f.submit %>
  </p>
<% end %>

   <%= link_to 'Regresar', :action => :index %>


</div>

</div>