<% title(t 'articles.new.title') %>

<div class="content-wrapper">

<div class="view-standard">

<p>
  <strong><%=t 'articles.new.title' %></strong>
  <%= @article.title %>
</p>
 
<p>
  <strong><%=t 'articles.new.text' %></strong>
  <%= @article.text %>
</p>

<p>
 <iframe src=<%= @article.cover %> width="800" height="350" style="border: none;"> </iframe>
<p>  

<%= link_to 'Regresar', :action => :index %>
| <%= link_to 'Editar', :action => :edit, :id => @article.id %>

</div>

</div>