<h1>
   <%=t(title)-%>
</h1>
<div class="container-fluid">
  <% members.each do |member| %>
     <div class="col-xs-6 col-lg-4 member-container" >
       <div class="member-card">
         <a href="<%= url_for(controller: controller_name, action: "dev", id: member.id) %>">
            <% member.photo = "default.png" if member.photo.blank? %>
            <%= image_tag("team/" + member.photo, width: "120px", height: "120px", class: "member-img-card") %>
            <h4><%= member.name %></h4>
            <h6><span class="glyphicon glyphicon-envelope mail-icon"></span><%= member.email %></h6>
         </a>
       </div>
     </div>
  <% end -%>
</div>