<% title(t "about-us.members.title") %>

<div class="content-wrapper">

  <%= render :partial => "about_us_sidebar",
        locals: { active_item: "members"} %>

  <div class="content-right">
    <%= render :partial => "member_cards", locals: { members: Member.get_non_developers, title: "about-us.members.title"} %>
    <%= render :partial => "member_cards", locals: { members: Developer.get_non_developers, title: "about-us.members.developers"} %>
</div>
