<% title "#{t "about-us.members.title"}: #{@member.name}" %>

<div class="content-wrapper">

  <%= render :partial => "about_us_sidebar",
        locals: { active_item: ""} %>

  <div class="content-right">
    <div class="container-fluid member-container member-bio-header">
      <div class="col-xs-4">
        <%= render :partial => "shared/user_photo", locals: { photo: @member.photo, folder: "team/"} %>
      </div>
      <div class="col-xs-8 member-bio-name">
        <div>
          <%= @member.name %>
          <div class="mail-info">
            <span class="glyphicon glyphicon-envelope mail-icon"></span><%= @member.email %>
          </div>
        </div>
      </div>
    </div>
    <div class="text-content">
      <%= render :partial => "/about/members/#{@member.member_id}_bio" %>
    </div>
    <div>
      <% if !@member.articles.empty? %>
        <h2><%= t("about-us.members.articles") %></h2>
        <ol>
        <% Article.all.each do |article| %>
          <li>
          <strong> <%= article.authors %> </strong>
          <%= article.description %>
          </li>
        <% end -%>
        </ol>
      <% end %>
    </div>
  </div>
</div>

