<% title(t 'home.title') %>

<div class="home-container container-fluid">
  <div class="row">
    <div class="col-xs-4"></div>

    <div class="col-xs-4 middle-column">
    <div class="home-top-container">
      <div><%=t 'home.title' %></div>
      <%= image_tag("mascota.png", width: "365px", height: "256px") %>
    </div>

    <div class="home-bottom-container">
      <div class="college"><%=t 'university' %></div>
      <span class="country"> <%=t 'country' %></span>
    </div>
    </div>

    <div class="col-xs-4">
      <div id="info-carousel" class="carousel slide home-carousel w3-card-2" data-ride="carousel" data-pause="hover">

        <span class="info-carousel-title"><%=t 'home.news' %></span>
          
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            Info 1
          </div>

          <div class="item">
            Info 2
          </div>

          <div class="item">
            Info 3
          </div>
        </div>

        <ol class="carousel-indicators">
          <li data-target="#info-carousel" data-slide-to="0" class="active"></li>
          <li data-target="#info-carousel" data-slide-to="1"></li>
          <li data-target="#info-carousel" data-slide-to="2"></li>
        </ol>

      </div>
  </div>

</div>
