// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.content-rigth{
  margin-left: 70px;
  margin-right: 70px;
  margin-bottom: 40px;
  margin-top: 20px;
}