.content-wrapper {
  overflow:auto;

   textarea {
      max-width:1000px;
      min-width:1000px; 
      max-height:150px;
      min-height:150px;
    }
}

.content-left {
  overflow:auto;
}

.demo-show  {
  width: 150px;
  margin: 1rem .5rem;
}

.demo-show h3 {
  margin: 0;
  font-family: 'Lato';
  font-size: 17px;
  padding: .10rem;
  background: #e7e7e7;
  border-top: 1px solid #386785;
  border-bottom: 1px solid #386785;
}

.demo-show div {
  padding: .2rem .10rem;
}